body {
  font-family: Roboto, Arial;
  color: rgb(33, 33, 33);
  margin: 0;
}

p {
  margin: 0;
}

input, select, button, a {
  font-family: Roboto, Arial;
}

.button-yellow {
  background-color: rgb(255, 216, 20);
  border: 1px solid rgb(252, 210, 0);
  color: rgb(33, 33, 33);
  cursor: pointer;
  font-family: Arial;
  font-size: 13px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  transition: background-color 0.15s, box-shadow 0.1s;
}

.button-yellow:hover {
  background-color: rgb(247, 202, 0);
  border-color: rgb(242, 194, 0);
  text-decoration: none;
  color: rgb(33, 33, 33);
}

.button-yellow:active {
  background-color: rgb(242, 194, 0);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1);
}
/* --- Gold Button */
.button-gold,
.button-gold-link {
  color: rgb(33, 33, 33);
  background-color: rgb(255, 164, 28);
  border: 1px solid rgb(238, 148, 0);
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);

  display: inline-block;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  padding: 6px 10px;
  font-size: 13px;
}

.button-gold:hover,
.button-gold-link:hover {
  background-color: rgb(250, 150, 0);
  border: 1px solid rgb(215, 130, 0);
}

.button-silver,
.button-silver-link {
  color: rgb(33, 33, 33);
  background: white;
  border: 1px solid rgb(213, 217, 217);
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
  display: inline-block;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  padding: 6px 10px;
  font-size: 13px;
}

.button-silver:hover,
.button-silver-link:hover {
  background-color: rgb(247, 250, 250);
}

.button-silver:active,
.button-silver-link:active {
  background-color: rgb(237, 253, 255);
  box-shadow: none;
}

.w100 {
  width: 100%;
}

.verify-message {
  color: #c40000;
  font-size: 13px;
  margin-top: 8px;
  text-align: center;
  font-weight: 500;
}

select {
  color: rgb(33, 33, 33);
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(213, 217, 217);
  border-radius: 8px;
  padding: 3px 5px;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
}

select:focus,
input:focus {
  outline: 2px solid rgb(255, 153, 0);
}

.link-primary {
  color: rgb(1, 124, 182);
  text-decoration: none;
  cursor: pointer;
}

.link-primary:hover {
  color: rgb(196, 80, 0);
  text-decoration: underline;
}